@media print {
  body * {
    visibility: hidden;
  }

  #resume-section, #resume-section * {
    visibility: visible;
  }

  #resume-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  button, form {
    display: none !important;
  }
}
